# Archivos de entorno (Credenciales PostgreSQL / API Keys)
.env

# Entornos virtuales
.venv/
venv/
env/

# Caché de Python y Bytecode
__pycache__/
*.pyc

# Caché de Streamlit e IDEs
.streamlit/
.vscode/
.idea/